.sorry{
	margin-top: 100px;
}

.oops{
	font-size: 50px;
	text-align: center;
	margin-top: 140px;
	display:block;
}

.sorry p{
	margin-top: 20px;
	text-align:center;
	font-size: 20px;
}
a.browser img{
	max-width: 150px;
}
.browsers{
	text-align: center;
	margin-top: 20px;
}
.browsers a.happy{
	margin-top: 40px;
	display:block;
}
a.browser{
	padding: 20px;
}